<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      {{!-- <h1>{{title}}</h1> --}}
      {{!-- <p>Created by: {{name}}</p> --}}
      <p>This page was created by K Muralidhar Rao. It uses weatherstack api for pulling weather details</p>
      <img class = "portrait" src="/img/about.jpeg" alt="" />
      </div>
    {{>footer}}
  </body>
</html>